@import "https://fonts.googleapis.com/css?family=Pirata+One";
@import "https://fonts.googleapis.com/css?family=Open+Sans";

/* body and container*/
body
{
  background-color: #0E0B16;
}

#container
{
  margin: 0 auto;
  width: 50%;
  min-width: 400px;
}

/* header */
header
{
  border-bottom: 0px solid;
}
header label
{
  font-family: "Pirata One", serif;
  font-size: 1.5em;
  color: #E7DFDD;
}

header select
{
  font-size: 1.5em;
  font-family: "Pirata One", serif;
  background-color: #0E0B16;
  color: #E7DFDD;
  border: 0px;
  padding-right: .2em;
}

/* content containers*/
#deck-in-play, #draw-commands, #deck-commands, #log
{
  margin-top: .5em;
  text-align: center;
}

#load-commands
{
  text-align: right;
}

#blessing-counter-container, #curse-counter-container
{
  display: inline-block;
}

/* log */
#log
{
  text-align: left;
  font-family: "Open Sans", sans-serif;
  color: #E7DFDD;
  max-height: 24em;
  overflow: auto;
  border: 1px solid #605F5D;
}

#log ul li
{
  list-style-type: none;
}

#log ul li span.timestamp
{
  float: right;
  padding-right: 1em;
  font-style: italic;
}

/* buttons */
#content button
{
  font-family: "Pirata One", serif;
  background-color: #E7DFDD;
  color: #0E0B16;
  font-size: 2em;
  border: 0px;
  min-width: 5em;
  border-radius: 10px;
  padding-left: .5em;
  padding-right: .5em;
}

/* cards */
#deck-in-play img.card
{
  display: inline-block;
  max-width: 40%;
  margin: auto;
  padding-left: .5em;
  padding-right: .5em;
  border-radius: 20px;
}
