@import "https://fonts.googleapis.com/css?family=Pirata+One";
@import "https://fonts.googleapis.com/css?family=Open+Sans";

/* body and container*/
body
{
  background-color: #0E0B16;
}

@media (min-width: 1000px)
{
  body
  {
    font-size: 1.5em;
  }

  #container
  {
    margin: 0 auto;
    width: 50%;
    min-width: 400px;
  }
}

@media (max-width: 1000px)
{
  body
  {
    font-size: 3em;
  }
  #container
  {
    width: 90%;
    margin: 0 auto;
  }
}

/* header */
header
{
  border-bottom: 0px solid;
}
header label
{
  font-family: "Pirata One", serif;
  color: #E7DFDD;
}

header select
{
  font-family: "Pirata One", serif;
  font-size: 1em;
  background-color: #0E0B16;
  color: #E7DFDD;
  border: 0px;
  padding-right: .2em;
}

header select option
{
  font-size: .67em;
}

/* content containers*/
#deck-in-play, #draw-commands, #deck-commands, #log
{
  margin-top: .5em;
  text-align: center;
}

#load-commands
{
  text-align: right;
}

@media (min-width: 1000px)
{
  #blessing-counter-container, #curse-counter-container
  {
    display: inline-block;
  }
}

/* log */
#log
{
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-size: .67em;
  color: #E7DFDD;
  max-height: 24em;
  overflow: auto;
  border: 1px solid #605F5D;
}

#log ul
{
  padding-left: 0px;
  margin: 1em 1em;
}

#log ul li
{
  list-style-type: none;
  padding: 0em 1em;
}

#log ul li:nth-child(even)
{
  background-color: #1E1B26;
}

#log ul li span.timestamp
{
  float: right;
  font-style: italic;
}

/* buttons */
#content button
{
  font-family: "Pirata One", serif;
  background-color: #E7DFDD;
  color: #0E0B16;
  font-size: 2em;
  border: 0px;
  min-width: 5em;
  border-radius: 10px;
  padding-left: .5em;
  padding-right: .5em;
}

@media (max-width: 1000px)
{
  #content button
  {
    width: 90%;
    min-width: 6em;
    min-height: 2em;
    font-size: 2em;
    margin: 0.2em 0em;
  }
}

/* cards */

#deck-in-play img
{
  display: inline-block;
  max-width: 40%;
  margin: auto;
  padding-left: .5em;
  padding-right: .5em;
  border-radius: 5%;
}

@media (max-width: 1000px)
{
  #deck-in-play img
  {
    max-width: 90%;
  }
}
